$input-error: #cc4d3c;
$grey-base: #9b9999;
$yellow-vivid: #e9a620;
$light-green: #9fcf61;
$base-green: #404d2f;

$background-main: rgb(18 18 20);
$background-main-hover: rgb(48, 49, 48);

$light-background: rgb(41 41 46);
