$input-error: #cc4d3c;
$grey-base: #9b9999;
$grey-light: #cfcdcd;

$yellow-vivid: #e9a620;
$light-green: #9fcf61;
$base-green: rgb(151, 179, 114);

$background-main: rgb(18 18 20);
$background-main-lighter: rgb(23, 23, 26);
$background-main-hover: rgb(48, 49, 48);

$light-background: rgb(41 41 46);
$rare-background: rgb(12, 12, 12);
