<div
  *ngIf="!isCodeVerification && !isPasswordInput"
  class="password-recovery-container"
  (keydown.enter)="setEmail()"
>
  <div class="login-screen-title" style="margin-top: 10rem">
    <h3>{{ "RECOVER_PASSWORD" | translate }}</h3>
  </div>
  <div class="full-width-div">
    <div class="title">
      <h3 class="email-title">E-mail:</h3>
    </div>

    <text-input
      [(ngModel)]="email"
      [invalidValidator]="invalidEmail"
      [allowSpecial]="true"
      (valueChange)="onInputChange('email')"
    ></text-input>
  </div>

  <div class="control-panel">
    <button class="login-register-button" type="button" (click)="setEmail()">
      {{ "CONTINUE" | translate }}
    </button>

    <button class="designless-button" type="button" (click)="backToLogin()">
      {{ "BACK_TO_LOGIN" | translate }}
    </button>
  </div>
</div>

<div
  class="password-recovery-container"
  (keydown.enter)="submitPasswordReset()"
  *ngIf="isCodeVerification && !isPasswordInput"
>
  <h3>{{ "VERIFY_EMAIL" | translate }}</h3>
  <p>{{ "RECOVERY_CODE_SENT" | translate }} {{ email }}</p>

  <h4>{{ "INSERT_CODE" | translate }}</h4>

  <p class="code-expiration-text">
    {{ "CODE_EXPIRES" | translate }}: {{ codeExpireTime }}
  </p>

  <div
    class="code-input-container"
    (click)="onBoxClick()"
    (paste)="onPaste($event)"
  >
    <input
      *ngFor="let digit of codeDigits; let i = index"
      maxlength="1"
      type="text"
      class="code-input"
      [(ngModel)]="code[i]"
      (input)="onInput($event, i)"
      (keydown)="onKeyDown($event, i)"
      #inputBox
    />
  </div>

  <button
    class="resend-button"
    [disabled]="resendCooldownSeconds > 0"
    (click)="resendCode()"
    type="button"
  >
    {{
      resendCooldownSeconds > 0
        ? ("WAIT" | translate) + " " + resendCooldownSeconds + "s"
        : ("RESEND" | translate)
    }}
  </button>

  <div class="full-width-div">
    <div class="title">
      <h3 class="email-title">Nova Senha:</h3>
    </div>

    <text-input
      [(ngModel)]="password"
      [maxLength]="24"
      type="password"
      [allowSpecial]="true"
      [invalidValidator]="invalidPassword"
      (valueChange)="onInputChange('password')"
    ></text-input>
  </div>

  <div class="control-panel">
    <button
      class="pw-reset-confirm"
      [disabled]="getCode().length < 6"
      type="button"
      (click)="submitPasswordReset()"
    >
      {{ "RECOVER_PASSWORD" | translate }}
    </button>

    <button class="designless-button" type="button" (click)="backToLogin()">
      {{ "BACK_TO_LOGIN" | translate }}
    </button>
  </div>
</div>
