.main-container {
  position: relative;
  margin-top: 75px;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  padding: 1.5rem;

  @media (min-width: 1101px) {
    width: calc(100% - 75px);
    transform: translateX(75px);

    &.with-menu {
      width: calc(100% - 200px);
      transform: translateX(200px);
    }
  }
}
