text-input {
  width: 100%;
}

.input-data-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;

  justify-content: flex-start;
}

.full-width-div {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 300px;

  .title {
    display: flex;
    color: #fff;
    gap: 0.4rem;

    h3 {
      font-size: 15px;
      font-weight: 400;
    }
  }
}
