input {
  font-size: 0.9rem;
  border: 1px solid $light-background;
  border-radius: 4px;
  padding-left: 1rem;
  padding-right: 1rem;
  background: rgb(44, 43, 41);
  color: #fff;
  width: 100% !important;
  height: 38px;

  &:focus {
    border: 1px solid $light-green;
  }
}
