@import "variables";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  min-width: 400px;
  max-width: 500px;
  height: 100vh;
  background: $background-main-lighter;
  padding: 16px;
  z-index: 10;
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
}

.side-menu.open {
  right: 0;
}

.side-menu-content {
  flex-grow: 1;
  overflow-y: auto;
}
