@import "variables";

.code-input-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1.5rem;
  cursor: text;
}

.code-input {
  text-align: center;
  font-size: 1.5rem;
  width: 48px;
  height: 72px;
  background-color: $rare-background;
  font-weight: bold;
  border: 1px solid;
  border-color: $rare-background;
  border-radius: 0.5rem;
  pointer-events: none;
  caret-color: transparent;
  outline: none;
  font-weight: 300;
  color: $grey-light;
  padding: 0;

  &:focus {
    border-color: $light-green;
  }

  @media (max-width: 350px) {
    height: 65px;
    font-size: 1.3rem;
  }

  @media (max-width: 325px) {
    height: 58px;
    font-size: 1.1rem;
  }

  @media (max-width: 300px) {
    height: 45px;
    font-size: 0.9rem;
  }
}

.email-verification-container {
  display: flex;
  flex-direction: column;
  color: $grey-light;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 380px;
  width: 100%;
  animation: fadeIn 0.5s ease forwards;

  h3 {
    font-size: 1.5rem;
  }

  p,
  h4 {
    font-size: 0.875rem;
  }

  p {
    font-weight: 300;
  }

  h4 {
    font-weight: 700;
  }
}

.resend-button {
  border-radius: 4px;
  margin-top: 2rem;
  border: 0;
  color: $grey-light;
  background: none;
  padding: 0.3rem 0.8rem 0.5rem 0.8rem;
  border: 1px solid $light-green;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    filter: brightness(110%);
  }
}

.email-verify-confirm {
  border-radius: 4px;
  margin-top: 2rem;
  border: 0;
  color: #232523;
  background-color: $light-green;
  padding: 0.5rem 0.8rem 0.6rem 0.8rem;

  font-size: 14px;
  font-weight: 600;

  &:hover {
    filter: brightness(110%);
  }

  &:disabled {
    filter: brightness(85%);
    cursor: not-allowed;
  }
}
