<div
  class="login-register-container"
  *ngIf="!registering"
  [class.fade-out]="isLoginFadingOut"
  [formGroup]="loginForm"
>
  <div class="login-screen-title">
    <h3>Money Nerd</h3>
  </div>

  <div class="full-width-div">
    <button class="google-button">
      <img src="img/google-logo.png" alt="Logo" class="logo-img" />

      <h3>{{ "GOOGLE_BUTTON" | translate }}</h3>
    </button>
  </div>

  <div class="divider"></div>

  <div class="full-width-div">
    <div class="title">
      <h3>E-mail:</h3>
    </div>

    <text-input
      formControlName="email"
      [invalidValidator]="invalidLoginEmail"
      (valueChange)="onInputChange('login-email')"
    ></text-input>
  </div>

  <div class="full-width-div">
    <div class="title">
      <h3>{{ "PASSWORD_LOGIN" | translate }}:</h3>
    </div>

    <text-input
      formControlName="password"
      [maxLength]="24"
      type="password"
      [invalidValidator]="invalidLoginPassword"
      (valueChange)="onInputChange('login-password')"
    ></text-input>
  </div>

  <button class="login-button" (click)="submitLogin()">
    {{ "LOGIN_BUTTON" | translate }}
  </button>

  <div class="divider"></div>

  <button class="register-button" (click)="triggerLoginFadeOut()">
    <div class="label-container">
      <p style="color: #b1b1b1">{{ "NO_ACCOUNT" | translate }}</p>
      <p style="color: #8db15e">{{ "FREE_REGISTER" | translate }}</p>
    </div>

    <i class="fa fa-chevron-right" style="color: #b1b1b1"></i>
  </button>
</div>

<div
  class="login-register-container"
  *ngIf="registering"
  [class.fade-out]="isRegisterFadingOut"
  [formGroup]="registerForm"
>
  <div class="login-screen-title">
    <h3>{{ "FREE_REGISTER" | translate }}</h3>
  </div>

  <div class="full-width-div">
    <div class="title">
      <h3>{{ "REGISTER_NAME" | translate }}:</h3>
    </div>

    <text-input
      formControlName="name"
      [invalidValidator]="invalidName"
      (valueChange)="onInputChange('name')"
    ></text-input>
  </div>

  <div class="full-width-div">
    <div class="title">
      <h3>E-mail:</h3>
    </div>

    <text-input
      formControlName="email"
      [invalidValidator]="invalidRegisterEmail"
      (valueChange)="onInputChange('register-email')"
    ></text-input>
  </div>

  <div class="full-width-div">
    <div class="title">
      <h3>{{ "PASSWORD_LOGIN" | translate }}:</h3>
    </div>

    <text-input
      formControlName="password"
      [maxLength]="24"
      type="password"
      [invalidValidator]="invalidRegisterPassword"
      (valueChange)="onInputChange('register-password')"
    ></text-input>
  </div>

  <div class="full-width-div">
    <div class="title">
      <h3>{{ "CONFIRM_PASSWORD" | translate }}:</h3>
    </div>

    <text-input
      formControlName="passwordConfirm"
      [maxLength]="24"
      type="password"
      [invalidValidator]="invalidPasswordConfirm"
      (valueChange)="onInputChange('password-confirm')"
    ></text-input>
  </div>

  <button class="login-button" (click)="submitRegistration()">
    {{ "FREE_REGISTER" | translate }}
  </button>

  <div class="divider"></div>

  <button class="register-button" (click)="triggerRegisterFadeOut()">
    <div class="label-container">
      <p style="color: #b1b1b1">{{ "HAS_ACCOUNT" | translate }}</p>
      <p style="color: #8db15e">{{ "LOGIN_BUTTON" | translate }}</p>
    </div>

    <i class="fa fa-chevron-right" style="color: #b1b1b1"></i>
  </button>
</div>
