<div
  class="login-register-container"
  *ngIf="registering"
  [class.fade-out]="isRegisterFadingOut"
  [formGroup]="registerForm"
>
  <div class="login-screen-title">
    <h3>{{ "FREE_REGISTER" | translate }}</h3>
  </div>

  <div class="full-width-div">
    <div class="title">
      <h3>{{ "REGISTER_NAME" | translate }}:</h3>
    </div>

    <text-input
      formControlName="name"
      [invalidValidator]="invalidName"
      (valueChange)="onInputChange('name')"
    ></text-input>
  </div>

  <div class="full-width-div">
    <div class="title">
      <h3>E-mail:</h3>
    </div>

    <text-input
      formControlName="email"
      [invalidValidator]="invalidEmail"
      [allowSpecial]="true"
      (valueChange)="onInputChange('email')"
    ></text-input>
  </div>

  <div class="full-width-div">
    <div class="title">
      <h3>{{ "PASSWORD_LOGIN" | translate }}:</h3>
    </div>

    <text-input
      formControlName="password"
      [maxLength]="24"
      [allowSpecial]="true"
      type="password"
      [invalidValidator]="invalidPassword"
      (valueChange)="onInputChange('password')"
    ></text-input>
  </div>

  <div class="full-width-div">
    <div class="title">
      <h3>{{ "CONFIRM_PASSWORD" | translate }}:</h3>
    </div>

    <text-input
      formControlName="passwordConfirm"
      [maxLength]="24"
      type="password"
      [allowSpecial]="true"
      [invalidValidator]="invalidPasswordConfirm"
      (valueChange)="onInputChange('password-confirm')"
    ></text-input>
  </div>

  <button class="login-register-button" (click)="submitForm()">
    {{ "FREE_REGISTER" | translate }}
  </button>

  <div class="divider"></div>

  <button class="register-button" (click)="triggerRegisterFadeOut()">
    <div class="label-container">
      <p style="color: #b1b1b1">{{ "HAS_ACCOUNT" | translate }}</p>
      <p style="color: #8db15e">{{ "LOGIN_BUTTON" | translate }}</p>
    </div>

    <i class="fa fa-chevron-right" style="color: #b1b1b1"></i>
  </button>
</div>
