@import "variables";

.categories-grid {
  display: flex;
  background: $list-background;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  color: $grey-light;
  margin-bottom: 0.3rem;
  padding: 0.3rem 0.4rem 0.3rem 1rem;

  h1 {
    font-size: 15px;
    font-weight: 600;
    margin: 0;

    &.income {
      color: $light-green;
    }

    &.expense {
      color: $red-theme;
    }
  }

  p {
    font-size: 11px;
    font-weight: 400;
    margin: 0;
  }

  h3 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }
}

.icon-display {
  display: flex;
  width: 32px;
  height: 32px;
  padding-bottom: 0.1rem;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: $background-main-lighter;
  outline: none;
  transition: border-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 18px;
  }
}

.color-display {
  display: flex;
  width: 32px;
  height: 32px;
  padding-bottom: 0.1rem;
  border-radius: 50%;
  border: 2px solid transparent;
  outline: none;
  transition: border-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 20px;
  }
}
