@import "variables";

.transactions-main-container {
  min-height: 100dvh;
}

.year-selector,
.month-selector {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

button {
  padding: 0.4rem 0.7rem;
  border: none;
  background: $background-main-lighter;
  cursor: pointer;
  border-radius: 4px;
  color: $grey-light;
  font-size: 12px;
  font-weight: 400;

  &.selected {
    padding: 0.5rem 1rem;
    background-color: $base-green;
    color: $background-main-hover;
    font-weight: 800;
    font-size: 16px;
  }
}

.year-selector,
.month-selector,
.summary {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;

  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.8rem 1rem;
    border-radius: 0.6rem;
    justify-content: center;
    align-items: end;

    h1,
    h2,
    h3 {
      margin: 0;
    }

    h1 {
      font-size: 24px;
      font-weight: 800;
    }

    h2 {
      font-size: 18px;
      font-weight: 700;
    }

    h3 {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .incomes-panel {
    background-color: $lighter-green;
    color: $background-main-hover;
  }
  .expenses-panel {
    background-color: $light-red;
    color: $background-main-hover;
  }
  .total-panel {
    background-color: $light-background;
    color: $grey-light;
  }
}

.summary {
  gap: 1rem;
}
