@import "variables";

.upload-box {
  border: 1px dashed $grey-light;
  color: $grey-light;
  padding: 30px 30px 40px 30px;
  text-align: center;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s ease;

  h3 {
    font-size: 17px;
    font-weight: 700;
    margin: 0;
  }

  i {
    font-size: 55px;
    margin: 0;
  }

  p {
    margin-top: 0.5rem;
    font-size: 13px;
    font-weight: 400;
  }
}

.upload-box.dragging {
  background-color: #585555;
}

.new-transactions-view {
  display: flex;
  background: rgb(44, 43, 41);
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  color: $grey-light;
  margin-bottom: 0.3rem;
  padding: 0.3rem 0.4rem 0.3rem 1rem;

  h1 {
    font-size: 15px;
    font-weight: 600;
    margin: 0;

    &.income {
      color: $light-green;
    }

    &.expense {
      color: $red-theme;
    }
  }

  p {
    font-size: 11px;
    font-weight: 400;
    margin: 0;
  }

  h3 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }
}
